.favorite__item {
  background: #ffffff;
  margin: 0;
  border-bottom: 1px solid #F1F1F1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
  padding: 14px 20px 13px 20px;
}
